{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>StopLoss</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Akcje/Fundusz</th>
          <th>Aktualna Cena</th>
          <th>Stop Loss cena</th>
          <th>Stop Loss margin (%)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope=row>1</th>
          <td>Mark</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
